<div class='container align'>

    <section class="section section-1">
    <h3 class="slide imagine">Basic authorization and authentication in a web app.</h3>
    <footer class="blockquote-footer">Project ---> <cite title="Source Title">IronHack</cite></footer>
    </section>
            

</div>

<div class="container imagine" >
    <p class="alignLi"> &ltul&gt</p>
    <p class="alignLi"> &ltli&gt  Si se puede imaginar, <em>se puede Programar</em> &lt/li&gt</p>
    <p class="alignLi">  &lt /ul&gt</p>
    <a href="/main"><p class="alignLi green">&lta&gt     Click heare to see a funny Cat!   This is only for Users! &#128571 &lt/a&gt</p></a>
        <a href="/private"><p class="alignLi orange">&lta&gt     secret Gift  &#128584    &lt/a&gt</p></a>
    <div class="container"><img src="../images/programmer.jpg" alt="" class="imgTop img-fluid d-block"></div>


</div>

<div class="container" > <h4 class="imagine"> &lth4&gt  App create with: &lt/h4&gt</h4>   </div>
<div class="container align">
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="2000">
      <img src="../images/nodejs.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="2000">
      <img src="../images/express.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="2500">
      <img src="../images/logo-mongodb.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="2500">
      <img src="../images/Handlebars.jpeg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/mongoose.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/ironlauncher.png" class="card-img-top" alt="...">
    </div>
  </div>
</div>
</div>

