<div class='container align'>

    <section class="section section-1">
    <h3 class="slide-in-demo">Basic authorization and authentication in a web app.</h3>
    <footer class="blockquote-footer">Project ---> <cite title="Source Title">IronHack</cite></footer>
    </section>
            

</div>

<div class="container align">
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/nodejs.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/express.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/logo-mongodb.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/Handlebars.jpeg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/mongoose.jpg" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card" data-aos="fade-up" data-aos-duration="1000">
      <img src="../images/ironlauncher.png" class="card-img-top" alt="...">
    </div>
  </div>
</div>
</div>

