body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.margin{
  margin-top: 5vh;
}

h4{
  text-align: center;
}
.signUp{
  color: white !important;
  text-decoration: none !important;
}

#logotype{
  width: 4vh;
  height: auto;
  margin-right: 2vh;
}
.align{
  margin-top: 2vh;
}

.card-img-top {
  height: 30vh; /* Establece la altura de la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  display: block; /* Establece la imagen como un elemento de bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.footerLayout{
  background-color: rgb(41, 41, 41);
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

ul>li{
  color: white;
  padding: 2vh;
  list-style: none;
}

.containerBody{
  min-height: 100vh;
}

@media  (max-width : 600px) {
 
.footerLayout{
  background-color: rgb(41, 41, 41);
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

}

