body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.margin{
  margin-top: 5vh;
}

h4{
  text-align: center;
}
.signUp{
  color: white !important;
  text-decoration: none !important;
}

#logotype{
  width: 4vh;
  height: auto;
  margin-right: 2vh;
}
.align{
  margin-top: 2vh;
}

.card-img-top {
  height: 30vh; /* Establece la altura de la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  display: block; /* Establece la imagen como un elemento de bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.footerLayout{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 20vh;
}

ul>li{
  color: rgb(129, 129, 129);
  padding: 2vh;
  list-style: none;
}

.containerBody{
  min-height: 100vh;
}
.blue{
  color: #00B7FF;
}
.imagine{
  color: #00B7FF;
  padding: 5vh;
}
.alignLi{
  margin-left: 3vh;
}
.card{
  border: none !important;
}
.col{
  padding: 3vh;
}
.green{
  color: rgb(24, 164, 48);
}

.orange{
  color: orangered;
}

/**butttonProfile*/

#profileLink{
  color: #00B7FF; 
}
/**button logout*/
button {
    border-radius: 5px !important;
    padding: 0.5vh;
}

/*dashboard*/
.dashboard{
  text-align: center;
}

/*Media*/

@media  (max-width : 600px) {
.footerLayout{
  background-color: rgb(255, 255, 255);
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

}

