{{!-- views/users/user-profile.hbs --}}

{{#if userInSession}}

<div class="container">
    <h4 class="blue">Welcome to your dashboard, {{ userInSession.email }}!</h4>

    <div class="container dashboard">
        <p class="align">This is your profile page my friend!</p>
    </div>
</div>
{{else}}

<br>
<p>Your session is not active. Please loggin.</p>

{{/if}}