{{!-- views/users/user-profile.hbs --}}

{{#if userInSession}}
  <h2>Welcome, {{ userInSession.email }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/user-profile">Reload the page</a>
  </button>
{{else}}
  
  <br><p>Your session is not active. Please loggin.</p>
 
{{/if}}
